.skill-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill-list > li {
  background: #fad19a;
  color: #11152c;
  padding: 0 0.4rem;
  display: inline-block;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  margin: 0 0.3rem 0.3rem 0;
  cursor: default;
}
