#Layout.home {
  background: url(/images/background-mountain-3840.png) no-repeat 50% 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#Welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -5.5rem;
}

#Welcome > div {
  margin: 0 auto;
  padding: 0 2rem 6rem;
  text-align: center;
}

#Welcome h1 {
  margin: 0 auto;
  font-size: 4rem;
}

#Welcome p {
  margin: 0 0 2rem;
}

#Attribution {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 0.8rem;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  #Welcome h1 {
    font-size: 3rem;
  } 

  #Welcome {
    margin-top: -112px;
  }
}

@media only screen and (max-width: 479px) {
  #Welcome h1 {
    font-size: 2.3rem;
  }
}
