:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #11152c;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body * {
  box-sizing: border-box;
}

a, a:visited, a:focus {
  color: #aaa;
}

#Layout {
  min-height: 100vh;
}

#Layout > main,
#SiteHeader > nav {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

#Layout > main {
  padding: 3rem 2rem;
}

#Layout.home > main {
  padding: 0;
}

#SiteHeader {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-bottom: 2px solid #fad19a;
}

#SiteHeader > nav {
  height: 5.5rem;
  padding: 1.5rem 2rem;
  text-align: right;
}

.home #SiteHeader {
  border: none;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

#SiteHeader a {
  display: inline-block;
  margin-left: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding: 0.5rem 0.2rem;
  cursor: pointer;
}

#SiteHeader a:first-child {
  margin-left: 0;
}

#SiteHeader a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fad19a;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#SiteHeader a.disabled {
  cursor: default;
  opacity: 0.6;
}

#SiteHeader a.active::before,
#SiteHeader a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.social-icons a {
  display: inline-block;
  margin: 0 0.5rem;
}

.social-icons svg {
  opacity: 0.7;
}

.social-icons a:hover svg {
  opacity: 1;
}

.button,
.button:visited {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fad19a;
  border: 2px solid #fad19a;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  font-weight: 600;
}

.button:hover {
  color: #11152c;
  background-color: #fad19a;
}

.display-on-tablet,
.display-on-mobile,
.display-under-620 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .display-on-tablet {
    display: block;
  }

  #SiteHeader {
    position: relative;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  #SiteHeader > nav {
    padding: 1.5rem;
    text-align: center;
  }

}

@media only screen and (max-width: 619px) {
  #SiteHeader > nav {
    padding: 0.25rem 1.5rem;
  }

  .display-under-620 {
    display: block;
  }
}

@media only screen and (max-width: 479px) {
  .display-on-tablet {
    display: none;
  }

  .display-on-mobile {
    display: block;
  }

  #SiteHeader > nav {
    padding: 0.25rem;
  }
}
