.street-photography {
  background-color: #3b6da2;
  background-image: -webkit-linear-gradient(263deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), -webkit-linear-gradient(18deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), -webkit-radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-image: linear-gradient(-173deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), linear-gradient(72deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-blend-mode: multiply;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery .col {
  width: 24%;
}

.gallery img {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}

.street-photography dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, .8);
  padding: 3rem 5.5rem;
  max-width: none;
  max-height: none;
}

.street-photography dialog[open] {
  display: flex;
  align-items: center;
}

.street-photography dialog .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  border-radius: 25px;
  border: 4px solid #fff;
  color: #fff;
}

.street-photography dialog .close::before {
  content: 'X';
  display: block;
  text-align: center;
  text-indent: 0;
  line-height: 42px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.street-photography dialog .close:hover::before {
  background-color: #fff;
  color: #000;
}

.street-photography dialog .left-arrow,
.street-photography dialog .right-arrow {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  margin: -125px 0 0 0;
  height: 250px;
  width: 50px;
  text-indent: -999px;
  overflow: hidden;
  border: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='21.Arrow Left'%3E%3Cpath fill='%23fff' d='M12 24a12 12 0 1 1 12-12 12.013 12.013 0 0 1-12 12zm0-22a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2z'/%3E%3Cpath fill='%23fff' d='M10.293 16.707 5.586 12l4.707-4.707 1.414 1.414L8.414 12l3.293 3.293-1.414 1.414z'/%3E%3Cpath fill='%23fff' d='M7 11h11v2H7z'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 50%;
  cursor: pointer;
  z-index: 3;
}

.street-photography dialog .right-arrow {
  left: auto;
  right: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='20.Arrow Right'%3E%3Cpath fill='%23fff' d='M12 24a12 12 0 1 1 12-12 12.013 12.013 0 0 1-12 12zm0-22a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2z'/%3E%3Cpath fill='%23fff' d='m13.707 16.707-1.414-1.414L15.586 12l-3.293-3.293 1.414-1.414L18.414 12l-4.707 4.707z'/%3E%3Cpath fill='%23fff' d='M6 11h11v2H6z'/%3E%3C/g%3E%3C/svg%3E");
}

.street-photography dialog img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  z-index: 2;
}

.street-photography dialog.loading img {
  display: none;
}

.street-photography .loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  opacity: 0;
  transition: opacity 0s 200ms;
}
@keyframes l5 {
    0%  {box-shadow: 25px 0 #fff, -25px 0 #fff2;background: #fff }
    33% {box-shadow: 25px 0 #fff, -25px 0 #fff2;background: #fff2}
    66% {box-shadow: 25px 0 #fff2,-25px 0 #fff; background: #fff2}
    100%{box-shadow: 25px 0 #fff2,-25px 0 #fff; background: #fff }
}

.street-photography .loading .loader {
  opacity: 1;
}

@media only screen and (max-width: 1023px) {
  .street-photography dialog .left-arrow {
    left: 1rem;
  }
  .street-photography dialog .right-arrow {
    right: 1rem;
  }
  .street-photography dialog .close {
    top: 1rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .gallery {
    flex-wrap: wrap;
  }

  .gallery .col {
    width: 48%;
  }

  .street-photography dialog .left-arrow,
  .street-photography dialog .right-arrow {
    display: none;
  }
}