.street-photography {
  background-color: #3b6da2;
  background-image: -webkit-linear-gradient(263deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), -webkit-linear-gradient(18deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), -webkit-radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-image: linear-gradient(-173deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), linear-gradient(72deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-blend-mode: multiply;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery .col {
  width: 24%;
}

.gallery img {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}

.street-photography dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, .8);
  padding: 3rem;
}

.street-photography dialog button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  border-radius: 0.6rem;
  border: 2px solid rgba(250, 209, 154, .7);
  color: #fad19a;
}

.street-photography dialog button::before {
  content: 'X';
  display: block;
  text-align: center;
  text-indent: 0;
  line-height: 2.4rem;
  color: #fad19a;
  font-size: 1.2rem;
}

.street-photography dialog button:hover::before {
  background-color: rgba(250, 209, 154, .7);
  color: #000;
}

.street-photography dialog img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  width: auto;
}